html {
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
}

img {
    width: 100%;
}

.img-container {
    width: 450px;
    margin: 0px;
}

.container {
    display: grid;
    min-height: 85vh;
    grid-template-areas: 
    "header header header header" 
    "nav nav nav nav" 
    "aside-right main main aside-left"
    "footer footer footer footer";
}


.header {
    font-weight: bold;
    margin: 10px;
    padding: 0;
    text-transform: uppercase;
}


.header,
.nav,
.aside-top,
.main,
.aside-bottom,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
} 
